<div class="user-list-wrap container d-flex flex-row flex-wrap">
    <div class="user-card-wrap" *ngFor="let item of userList" (click)="goToUserDetils(item.id)">
        <div class="card" style="width: 18rem; height: 23em;">
            <img class="card-img-top" src="{{item.avatar}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{item.first_name}} {{item.last_name}}</h5>
                <p class="card-text">{{item.email}}</p>
            </div>
        </div>
    </div>
</div>
<app-pagination 
*ngIf="totalItems"
[maxNumber]="5" 
[perPage] = "perPage"
[totalItems]="totalItems" 
[currentPage]="1" (pageChange)="getUserList($event)">
</app-pagination>